<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <svg version="1.1" id="metronome" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  width="300" height="300" viewBox="0 0 200 200" style="enable-background:new 0 0 200 200;" xml:space="preserve">
    <style type="text/css">
      .st0 { fill: #F95428; }
      .st1 { fill: #808080; }
      .st2 { fill: #F7B239; }
      .st3 { fill: #4D4D4D; }
      .st4 { fill: #CC582F; }
      .st5 { font-family: 'Arial-BoldMT', Arial, sans-serif; }
      .st6 { font-size: 25.7145px; }
      .st7 { font-family: 'ArialMT', Arial, sans-serif; }
      .st8 { font-size: 12.7612px; }
      .st9 { font-family: 'Arial-ItalicMT', Arial, sans-serif; }
      .st10 { font-size: 9.6645px; }
    </style>
    <polygon class="st0" points="132.8,19.6 98.7,27.2 67.3,19.6 100,0 "/>
    <polygon class="st1" points="148.4,105.8 132.8,19.6 67.3,19.6 45.1,142.1 89.7,142.1 110.4,142.1 112.2,142.1 154.9,142.1 "/>
    <g>
      <rect x="89.7" y="36.4" class="st2" width="10.3" height="105.6"/>
      <rect x="100" y="36.4" class="st2" width="10.3" height="105.6"/>
    </g>
    <rect x="97.7" y="36.4" class="st3" width="4.7" height="105.6"/>
    <g>
      <g>
        <polygon class="st3" points="96.5,53.2 103.5,53.2 103.5,149.7 100,149.7 96.5,149.7"
          [attr.transform]="'rotate(' + rotationAngle + ' 100 149.7)'"
          [style.transition]="'transform ' + tempoTime + 's cubic-bezier(0.42, 0, 0.58, 1)'"/>
        <rect x="96.5" y="16.2" class="st3" width="7" height="28.3"
          [attr.transform]="'rotate(' + rotationAngle + ' 100 149.7)'"
          [style.transition]="'transform ' + tempoTime + 's cubic-bezier(0.42, 0, 0.58, 1)'"/>
      </g>
      <polygon class="st4" points="111.5,41 109.4,56.8 100,56.8 90.7,56.8 88.6,41 100,41"
      [attr.transform]="'rotate(' + rotationAngle + ' 100 149.7)'"
      [style.transition]="'transform ' + tempoTime + 's cubic-bezier(0.42, 0, 0.58, 1)'"/>
    </g>
    <polygon class="st0" points="154.9,142.1 165.4,200 34.6,200 45.1,142.1 "/>
    <text transform="matrix(1 0 0 1 85.5679 166.5312)" text-anchor="middle">
      <tspan x="15" dy="0" class="st5 st6">{{tempo}}</tspan>
      <tspan x="15" dy="1.2em" class="st7 st8">BPM</tspan>
    </text>
    <text transform="matrix(1 0 0 1 45.0986 182.0137)">
      <tspan x="16" dy="0" class="st9 st10" text-anchor="middle">Volume:</tspan>
      <tspan x="16" dy="1.2em" class="st5 st10" text-anchor="middle">{{beatvolume}}%</tspan>
    </text>
    <text transform="matrix(1 0 0 1 124.1853 182.0137)">
      <tspan x="15" dy="0" class="st9 st10" text-anchor="middle">Beats:</tspan>
      <tspan x="15" dy="1.2em" class="st5 st10" text-anchor="middle">{{beats}}</tspan>
    </text>
  </svg>

  <ion-item class="slider">
    <ion-label>BPM</ion-label>
    <ion-range [(ngModel)]="tempo" min="40" max="240" (ionChange)="tempoChange()">
      <ion-label slot="start">40</ion-label>
      <ion-label slot="end">240</ion-label>
    </ion-range>
  </ion-item>

  <ion-item class="slider">
    <ion-label>Beats</ion-label>
    <ion-range [(ngModel)]="beats" min="1" max="12">
      <ion-label slot="start">1</ion-label>
      <ion-label slot="end">12</ion-label>
    </ion-range>
  </ion-item>

  <ion-item class="slider">
    <ion-label>Volume</ion-label>
    <ion-range [(ngModel)]="beatvolume" min="0" max="100" (ionChange)="volume()">
      <ion-label slot="start">0</ion-label>
      <ion-label slot="end">100</ion-label>
    </ion-range>
  </ion-item>

  <ion-button (click)="pause()">{{buttonText}}</ion-button>
</ion-content>
